html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Century Gothic","CenturyGothic","AppleGothic","sans-serif";
    background-attachment: fixed;
    background-image: url('images/carbon-fibre-v2.png'), 
                      radial-gradient(circle at top center, rgb(46, 45, 45), black 100%);
}

header {
    display: flex;
    justify-content: center;
    color: ivory;
    font-size: 200%;
    padding: 10px;
    /* padding-top: 100px; */
    height: 40%;
    /* border: 1px solid blueviolet; */
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-top: 200px; */
    /* border: 1px solid yellowgreen; */
}

.bio {
    color: ivory;
    line-height: 200%;
    padding-bottom: 20px;
}

.divider {
    flex: 0;
    border: 0.1px solid grey;
}

.left_container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    font-size: 150%;
}

.right_container {
    display: flex;
    flex: 1;
    font-size: 150%;
}

a {
    color: rgb(192, 125, 0);
    font-size: larger;
}

h1 {
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 270%;
}

h5 {
    font-weight: lighter;
    margin-top: 0;
    font-size: 80%;
}

p.upcase {
    font-variant: small-caps;
    font-size: 150%;
    /* font-weight: bold;  */
    margin-bottom: 10px;
}

#left{
    text-align: right;
    padding-right: 20px;
    line-height: 50px;
}

#right{
    text-align: left;
    padding-left: 20px;
    line-height: 50px;
}
